body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{margin:0;padding:0;border:0;}
body{color:#333;font-size:14px; font-family:"Microsoft YaHei";width: 100%;min-height: 100%;}
ul,ol{list-style-type:none;}
select,input,img,select{vertical-align:middle;}
a{text-decoration:none;color:#000;}
.clearfix:after{
    content:' ';
    height:0;
    clear:both;
    visibility: hidden;
    display: block;
}
.clearfix{
    zoom:1
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.pagination-wrapper{
    background: #fff;
    position: fixed;
    right: 0;
    bottom: 0;
    left: 220px;
    text-align: right;
    z-index: 100;
}
.search-wrapper .el-input{
    width: 160px;
}
.search-wrapper .el-form-item{
    margin-bottom: 10px;
  }
